<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->

	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Dashboard</title>


	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,900" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/dashboard.css">
	</head>
	<body>
		<div class="main-wrapper-first relative">
			<header>
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="main-menubar d-flex align-items-center">
									<a href="/logout"><strong style="color:white">LOGOUT</strong></a>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="banner-area">
				<div class="container">
					<div class="row justify-content-center height align-items-center">
						<div class="col-lg-8">
							<div class="banner-content text-center">
								<h1 class="text-uppercase">Welcome, <br> {{user}}!</h1>

							</div>
						</div>
					</div>
				</div>
			</div>


			<section class="featured-area">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon">
									<img src="../static/images/profile.png" alt="" style="width:70px">
								</div>
								<div class="desc">
									<h4><a href="/profile" style="color:black">Profile</a></h4>
									<p>View, edit and manage your personal profile for quick services from our end.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon">
									<img src="../static/images/sasd.png" alt="" style="width:90px">
								</div>
								<div class="desc">
									<h4><a href="/webcheckin" style="color:black">Web Check-In</a></h4>
									<p>Passengers can now select their preferred seats and obtain their boarding passes anytime after booking their tickets, right at their fingertips. No more standing in queues at the airport!</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon">
									<img src="../static/images/airplane_1.png" alt="" style="width:80px">
								</div>
								<div class="desc">
									<h4><a style="color:black" href="/upcoming">Upcoming journeys</a></h4>
									<p>Stay organized by managing and viewing all of your upcoming journeys with Kings Landing.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-feature d-flex flex-wrap justify-content-between">
								<div class="icon">
									<img src="../static/images/f.png" alt="" style="width:80px">
								</div>
								<div class="desc">
									<h4>Fly regal</h4>
									<p>With our brand new fleet of Airbus A380s, enjoy first class in-air service from Kings Landing's award winning in-flight hosting.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			<!-- Start footer Area -->
			<footer class="footer-area">
				<div class="container">
					<div class="footer-content d-flex flex-column align-items-center">
						<div class="footer-menu">
							<img src="../static/images/logo2_burned.png"style="width:150px;height:150px;"/>
						</div>
						<div class="footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
						<div class="copy-right-text">Copyright &copy; 2018 All rights reserved   |   				</div>
				</div>
			</footer>
			<!-- End footer Area -->
		</div>




		<script src="../static/js/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/jquery.ajaxchimp.min.js"></script>
		<script src="../static/js/jquery.nice-select.min.js"></script>
		<script src="../static/js/jquery.magnific-popup.min.js"></script>
		<script src="../static/js/dashboard.js"></script>
	</body>
</html>
