<!DOCTYPE HTML>
<html>
	<head>
		<title>Kings' Landing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Sign-Up</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>This is Kings' Landing</h1>
						<p>Fly Regal to elite destinations across the world.<br />Comfort and attention to detail you can rely on whenever you travel with us.
							<br/> Great value, excellent service and trusted advice when you choose Kings' Landing. </p>
					</header>
					<a href="#main" class="button big scrolly">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<img src="../static/images/abc.jpg" alt="" />
										</div>
									</div>
									<div class="col col2">
										<h3>The Kings' Landing fleet</h3>
										<p><strong>Your travel experience redefined</strong></p>

										Explore the world with us, and experience a journey unlike any other on some of the most comfortable and spacious aircrafts in the world. Wherever your travels may take you with Kings' Landing, you’ll be flying on one of the most modern aircraft and fuel-efficient fleets in the skies.


										We invite you to step onboard and luxuriate in our warm and impeccable service, and discover a journey that’s every bit as delightful as the destination itself.</p>

									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>About Us</h3>
									<p>Kings' Landing Corp. is the flag carrier airline of India. Based in Coimbatore, the airline operates scheduled passenger flights to 21 domestic and 31 international destinations in 19 countries around the Pacific Rim and the United Kingdom.</p>


								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<img src="../static/images/xyz.jpg" alt="" />
									</div>
								</div>
							</div>
						</div>
					</section>



		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
