<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login - Kings Landing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">

</head>
<SCRIPT type="text/javascript">
	window.history.forward();
	function noBack() { window.history.forward(); }
</SCRIPT>
<body onload="noBack();"
	onpageshow="if (event.persisted) noBack();" onunload="">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method='POST'>
					<span class="login100-form-title p-b-26">
						We've sent a verification code to your mobile number
					</span>
					<span class="login100-form-title p-b-48">
						<i class="zmdi zmdi-font"></i>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Invalid email">
						<input class="input100" type="number" name="otp">
						<span class="focus-input100" data-placeholder="OTP"></span>
					</div>


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Login
							</button>
						</div>
						{% if msg %}
			        <p class="error"><strong>Error:</strong> {{ msg }}</p>
			      {% endif %}
					</div>

				</form>
			</div>
		</div>
	</div>



	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/login.js"></script>

</body>
</html>
