<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Payment</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

  <link rel="stylesheet" href="../static/css/style.css">


</head>
<script>



function pay() {
  document.getElementById("card").style.display = "none";
  document.getElementById("success").style.display = "block";
  setTimeout(function(){window.location.href = "/getpass"},3000)

}

</script>
<body>

  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-xs-8">



        <div id="card" class="panel panel-default credit-card-box" style="display: block";>
          <div class="panel-heading display-table">
            <div class="row display-tr">
              <h3 class="panel-title display-td">Payment Details</h3>
              <div class="display-td">
                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
              </div>
            </div>
          </div>
          <div class="panel-body">

              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="cardNumber">CARD NUMBER</label>
                    <div class="input-group">
                      <input type="number" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />
                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                    <input type="date" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                  </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                    <label for="cardCVC">CV CODE</label>
                    <input type="number" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="couponCode">NAME ON CARD</label>
                    <input type="text" class="form-control" name="nameoncard" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="btn btn-success btn-lg btn-block" onclick="pay()">Pay Rs.{{cost}} Securely</button>
                </div>
                <div class="col-sm-6" style="margin-left:25%"/>
                  <button class="btn btn-lg btn-block" onclick="window.location.href = '/rollback'">Cancel Transaction</button>
                </div>
              </div>
              <div class="row" style="display:none;">
                <div class="col-xs-12">
                  <p class="payment-errors"></p>
                </div>
              </div>

          </div>
        </div>
        <div class= "success" id = "success" style="margin-left:30%;display: none;">
          <h3> Payment Successful</h3>
          <img src="../static/images/success.gif" style="width:50%"/>
        </div>



    </div>
  </div>


</body>




<script src="../static/js/payment.js"></script>




</body>

</html>
