
<html>

<script>
function getParameterByName(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var foo = getParameterByName('foo');
alert(foo);
var ttt= getParameterByName('ttt');
alert(ttt);
</script>
<body>
<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <hr>
  <p>

  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm"   </p>
</div>
<body>
</html>
